/* Ensure images and text resize properly */
.navbar-brand img {
    height: 30px;
    width: 50px;
  }
  
  @media (max-width: 768px) {
    .navbar-brand span {
      font-size: 20px;
    }
    
    .nav-link {
      font-size: 18px;
    }
    
    .btn {
      font-size: 18px;
    }
  }
  
  @media (max-width: 576px) {
    .navbar-brand span {
      font-size: 18px;
    }
    
    .nav-link {
      font-size: 16px;
    }
    
    .btn {
      font-size: 16px;
    }
  }
  